<!-- mensagem de retorno da API -->
<div *ngIf="mensagem != ''" 
      class="alert alert-primary alert-dismissible fade show" 
      role="alert">
      <strong>{{mensagem}}</strong>
      <button 
          (click)="mensagem = ''"
          type="button" 
          class="btn-close" 
          aria-label="Close"></button>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nome do cliente</th>
                <th class="text-center">Email</th>
                <th class="text-center">CPF</th>
                <th class="text-center">Data de Nascimento</th>
                <th>Endereço</th>
                <th>Operações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of clientes">
                <td>{{c.nome}}</td>
                <td>{{c.email}}</td>
                <td class="text-center">{{c.cpf.slice(0, 3) + '.' + c.cpf.slice(3, 6) + '.' + c.cpf.slice(6, 9) + '-' + c.cpf.slice(9)}}</td>
                <td class="text-center">{{c.dataNascimento | date: 'dd/MM/yyyy'}}</td>
                <td>
                    <button class="btn btn-outline-primary btn-sm ms-2">
                        Exibir
                    </button>
                </td>
                <td>
                    <button class="btn btn-outline-primary btn-sm"
                        (click)="onEdit(c.id)">
                        Editar
                    </button>
                    <button class="btn btn-outline-danger btn-sm ms-2"
                        (click)="onDelete(c.id)">
                        Excluir
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    Quantidade de clientes: {{clientes.length}}
                </td>
            </tr>
        </tfoot>
    </table>
</div>